#body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
    #header{ background-color:#41426F;
        position: fixed;
        z-index: 2;
        color:#FFFFFF;
        height:120px;
        width:1512px;
        margin-top: 0;
        margin-left: 0;
        }
    #headertitle{position: absolute;
        width: 199px;
        left: 32px;
        top: 36px;
        bottom: 37px;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;}
    #siderbarmenu{
        position: sticky;
        z-index: 2;
        width: 282px;
        height: 959px;
        left: 0px;
        top: 115px;
        background: #41426F;
        }
    #siderbarmenu h2{position: absolute;
        width: 102px;
        height: 47px;
        left: 17px;
        top: 23px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #FFFFFF;
        text-decoration-line:underline;
        text-decoration-color:#FFFFFF;}
    #siderbarsearch{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        position: absolute;
        width: 255px;
        height: 38px;
        left: 17px;
        top: 95px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.2;
        padding: 7px;}
    #homebutton{position: absolute;
        width: 255px;
        height: 50px;
        left: 17px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border-color: #FFFFFF;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        color: #41426F;
        top: 158px;}
    #homebutton:hover{
        background: #AACE9B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        color: #FFFFFF;
        }
    #loginbutton { top: 233px;
            position: absolute;
            width: 255px;
            height: 50px;
            left: 17px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            border-color: #FFFFFF;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
            color: #41426F}
        #loginbutton:hover{
            background: #AACE9B;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            color: #FFFFFF;
        }
        #singupbutton{position: absolute;
            width: 255px;
            height: 50px;
            left: 17px;
            top: 308px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            border-color: #FFFFFF;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
            color: #41426F}
        #singupbutton:hover{
                background: #AACE9B;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                color: #FFFFFF;
            }
    #siderbarcontact h3{position: absolute;
        width: 82px;
        height: 18px;
        left: 17px;
        top: 454px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration-line: underline;
        text-decoration-color: #FFFFFF;}
    #siderbarcontact p{
        position: absolute;
        width: 255px;
        height: 108px;
        left: 17px;
        top: 500px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        }
        .contact :first-child{position: absolute;
            width: 193px;
            height: 29px;
            margin-left: 16px;
            margin-top: 628px;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            list-style-image: url(Semana-03\iconos\Frame64.png);
            }
        .contact :nth-child(2){position: absolute;
            width: 193px;
            height: 29px;
            margin-left: 16px;
            margin-top: 677px;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            }
        .contact :last-child{
            position: absolute;
            width: 193px;
            height: 29px;
            margin-left: 16px;
            margin-top: 732px;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            }
        #main{position: absolute;
                width: 1223px;
                height: 2923px;
                left: 289px;
                top: 121px;}
                #main>h2{position: absolute;
                    width: 183px;
                    height: 35px;
                    left: 70px;
                    top: 102px;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    color: #373867;}
                #main>h3{position: absolute;
                    width: 120px;
                    height: 23px;
                    left: 70px;
                    top: 149px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    color: #373867;}
                #main>p{position: inherit;
                    width: 411px;
                    height: 234px;
                    left: 70px;
                    top: 184px;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 25px;
                    color: #41426F;
                    }
                #main>button{position: absolute;
                    z-index: 0;
                    width: 147px;
                    height: 47px;
                    left: 334px;
                    top: 428px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    border-color: #FFFFFF;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #000000;}
                #main>button:hover{
                    background: #AACE9B;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    color: #FFFFFF;
                }
                #mainimagen{float: left;
                    z-index: 0;
                position: relative;
                margin-right: 52px;
                margin-left: 502px;
                margin-top: 102px;
                width: 663px;
                height: 373px;}
